.footer__container {
	height: 200px;
	width: 100%;
	background-color: var(--clr-dark);
}

.footer {
	width: 100%;
	height: 100%;
	max-width: 1300px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.footer__icons {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.footer__icons > a {
	text-decoration: none;
	color: var(--clr-light);
}

.footer__icons svg {
	font-size: 36px;
}

.footer__text {
	font-size: 18px;
}
